# Custom Error Pages
ErrorDocument 404 /404.php
ErrorDocument 500 /500.php

# Disable Directory Indexing
Options -Indexes



# Prevent Access to .htaccess File
<Files ".htaccess">
    Require all denied
</Files>

<Files .env>
    Order Allow,Deny
    Deny from all
</Files>